<div class="modal-header bg-info" id="modal-header">
    <span class='text-white display-6'>Check Information</span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body p-0" id="modal-body">
    <div id="print">
        <div class="m-2">
            <h6>Name:</h6>
            <h4>
            <% if @register.first_name.nil? %>
                <%= @register.full_name %>
            <% else %>
                <%= @register.first_name %>
            <% end %>
            </h4>
            <h6>Department:</h6>
            <h4><%= @register.info_1 %></h4>
        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer">
    <div class="row justify-content-center">
        <%= link_to "Click to Print", printupdate_register_path, class: "btn btn-primary m-2 mr-4", id: "printBtn", remote: true  %>
    </div>
</div>