<div class="row justify-content-center mt-4">
  <div class="col-lg-10 text-center" id="slogan">
    <h2 class="text-black">View and Search Registers</h2>
    <p class="text-black">(searchable: first name, last name, ticket number, status)</p>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="form-group ml-4 mr-4">
        </div>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="position-relative mb-4" style="min-height:10rem;">
    <div class="container p-4 shadow rounded">
      <div class="row justify-content-center">
        <div class="col-lg-12">

          <table id="data-table" class="table table-sm table-responsive-sm table-striped">
            <thead class="bg-success text-white">
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Ticket No.</th>
                <th>Contact No.</th>
                <th>Draws</th>
                <th>Status</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody id="search">
              <%= render partial: 'list' %>
            </tbody>
          </table>

          <br>

        </div>
      </div>
    </div>
  </div>
</main>

<script>

$(document).ready(function() {
    $('#data-table').DataTable();
} );

function printDiv(divName, regid) {
    var mywindow = window.open('/registers/' + regid);
    var printContents = document.getElementById(divName).innerHTML;
    mywindow.document.body.innerHTML = printContents;
    mywindow.print();
    return true;
}

</script>
