$('#search').html("<%= j (render 'list') %>");
$('.pagination a').attr('data-remote', 'true');
<% if @registers.next_page %>
    $('#load-more').html('<%= link_to 'Click To Load More', registers_path(:page => @registers.next_page), class: "btn btn-outline-bantu btn-xl", remote: true %>');
<% else %>
    $('#load-more').html('<div class="alert alert-primary alert-dismissible fade show text-center mt-5" role="alert">No More Records, This Is The Bottom of Search!</div>');
<% end %>