<div class="row justify-content-center text-center p-4 mt-4 mb-4 bg-none">

    <div class="col-lg-6 d-block my-auto text-special">
        <div class="card bg-secondary shadow p-3">
            <div class="col-lg-8 d-block mx-auto text-special">
                <h4 class="text-dark">Welcome!</h4>
                <h4 class="text-primary">Please eVote Code to Login</h4>
            </div>
            <div class="card-body m-3">
                <%= render partial: 'polls/login'%>
            </div>
        </div>
      
    </div>
</div>


