<div class="row justify-content-center mt-4 mb-4">
    <div class="col-lg-6">
        <div class="card text-special bg-secondary shadow border-0">
            <div class="card-header text-center bg-chrome">
                <h4 class="text-white">Welcome</h4>
                <h2 class="text-primary">Event E-Voting System</h2>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Sign-In for Event Guests</small>
                </div>
                <%= render partial: 'polls/login' %>
            </div>
        </div>
    </div>
</div>


