<footer class="footer bg-glass">
    <div class="container">
      <div class="row row-grid align-items-center mb-5">
        <div class="col-lg-6 text-dark text-special">
          <h3 class="mb-2 text-primary">Contact Prins Solution Sdn Bhd</h3>
          <p class="mb-0"><span>Address:</span> <b>-</b></p>
          <p class="mb-0"><span>Phone:</span> <b>-</b></p>
          <p class="mb-0"><span>Fax Number:</span> <b>-</b></p>
          <p class="mb-0"><span>Email:</span> <b>-</b></p>
          <p class="mb-0"><span>Business Hours:</span> <b>9:00am - 6:00pm</b></p>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright text-primary">
            Copyright &copy; Prins Solution Sdn Bhd 2019
          </div>
        </div>
      </div>
    </div>
</footer>