<div class="container">
    <div class="row">

        <!-- Section Left -->
        <div class="col-md-6">
            <div class="m-4">
                <h1>Registration System</h1>
                <h3>Please login first to proceed</h3>
            </div>
        </div>

        <!-- Section Right -->
        <div class="col-md-6">
            <div class="card m-4">
                <div class="card-header">
                    <h4 class="text-center">Sign In</h4>
                </div>
                <div class="card-body">
                    <%= render partial: 'users/login' %>
                </div>
            </div>
        </div>
    </div>
</div>