<div class="container mt-4 mb-4">
    <div class="row">

        <!-- Section Left -->
        <div class="col-md-6">
            <div class="m-4">
                <h1>Registration System</h1>
                <h3>Please login first to proceed</h3>
            </div>
        </div>

        <br>
        <!-- Section Right -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header m-0">
                    <h4 class="text-center">Sign In</h4>
                </div>
                <div class="card-body m-3">
                    <%= render partial: 'users/login' %>
                </div>
                <br><br><br><br>
            </div>
        </div>

    </div>
</div>