/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require print
 */

 @import "font-awesome";

.bg-none
{
    background-color: transparent !important;
}

.bg-glass
{
    background-color: rgba(255,255,255,0.9) !important;
}

.bg-chrome
{
    background-color: rgba(0,0,0,0.9) !important;
}

.unprint {
    color: #d36d6d;
}

.printed {
    color: #2dce89;
}

.print-container {
    position: relative;
    text-align: center;
}

#print-section {
    width: 595px;
    height: 880px;
    background-image: url('brand/wmk.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-left: 0.06rem;
    display: flex;
    align-items: center;
}

.border {
    border: 1px black dotted;
}


  .text {
    font-family:Lato;
    align-items:center;
    color: rgb(0, 51, 128);
  }
  
  #title-1 {
      position: absolute;
      font-size:180%;
      top: 10%;
      right: 1.5%;
      bottom: 80%;
      left: 87.5%;
  }
  
  #title-2 {
      position: absolute;
      font-size:160%;
      top: 30%;
      right: 10%;
      bottom: 59.5%;
      left: 25%;
  }
  
  #title-3 {
      position: absolute;
      font-size:130%;
      top: 47.5%;
      right: 33.5%;
      bottom: 44.5%;
      left: 18%;
  }
  
  #title-4 {
      position: absolute;
      font-size:300%;
      color: black;
      top: 47%;
      right: 16%;
      bottom: 44%;
      left: 66.5%;
  }
  
  #title-5 {
      position: absolute;
      font-size:90%;
      top: 85%;
      right: 10%;
      bottom: 13%;
      left: 40%;
  }
  
  #title-6 {
      position: absolute;
      font-size:120%;
      top: 90.8%;
      right: 10%;
      bottom: 2.8%;
      left: 40%;
  }


.text-special {
    font-family: 'Righteous','Arial';
}

.ui-state-disabled span{
    color: red;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: rgb(147, 240, 247);
}