/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require print
 */

 @import "font-awesome";

.pacifico {
    font-family: pacifico;
}

.unprint {
    color: #d36d6d;
}

.printed {
    color: #2dce89;
}

.container {
    position: relative;
    text-align: center;
}

#print-section {
    width: 595px;
    height: 842px;
    background-image: url('brand/hla_voucher.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-left: 0.06rem;
}

#hla-1 {
    font-size:100%;
    font-family:Arial;
    margin: 30% 0% 0% 32%;
}

#hla-2 {
    font-size:100%;
    font-family:Arial;
    margin: 24% 0% 0% 32%;
}

#hla-3 {
    font-size: 480%;
    font-family: Arial;
    text-align: center;
}

#hla-4 {
    font-size:70%;
    font-family:Arial;
    margin: 35% 0% 0% 38%;
}

#hla-5 {
    font-size:70%;
    font-family:Arial;
    margin: 15% 0% 0% 38%;
}

#hla-6 {
    font-size: 480%;
    font-family: Arial;
    text-align: center;
}