/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require print
 */

 @import "font-awesome";

.pacifico {
    font-family: pacifico;
}

.unprint {
    color: #d36d6d;
}

.printed {
    color: #2dce89;
}

.container {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 11%;
    left: 6%;
    font-family: arial;
    color: black;
}

.top-left {
    position: absolute;
    top: 12%;
    left: 24%;
}

.top-right {
    position: absolute;
    top: 8%;
    right: 14%;
    font-family: arial;
    color: black;
}

.bottom-right {
    position: absolute;
    bottom: 12%;
    right: 24%;
}

.centered {
    position: absolute;
    top: 12%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.white-shadow {
    text-shadow: 0 0 0.2rem whitesmoke;
}

.white-shadow-sm {
    text-shadow: 0 0 0.2rem whitesmoke;
}
