@media print {

    .container {
        position: relative;
        text-align: center;
    }
    
    .bottom-left {
        position: absolute;
        bottom: 12%;
        left: 20%;
        font-family: arial;
        color: black;
    }
    
    .top-left {
        position: absolute;
        top: 12%;
        left: 24%;
    }
    
    .top-right {
        position: absolute;
        top: 15%;
        right: 22%;
        font-family: arial;
        color: black;
    }
    
    .bottom-right {
        position: absolute;
        bottom: 12%;
        right: 24%;
    }
    
    .centered {
        position: absolute;
        top: 12%;
        left: 24%;
        transform: translate(-50%, -50%);
    }

nav{
	display: none;
}

body {
	font-size: 12pt;
	font-family: Georgia,Times, serif;
	color: #000;
	background: #fff;
	width: 400px;
	height: 400px;
}

img {
	max-width: 400px;
}

.star {
    height: 100px;
    width: 100px;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    text-align: center;
    color: black;
  }
  
  .star::before {
    display: inline-block;
    height: 100%;
    background: blue;
    vertical-align: middle;
    // font-family: FontAwesome;
    content: '';
  }

.color-1 {
    background: #2dce89;
}

.color-3 {
    background: #11cdef;
}

.color-5 {
    background: #fb6340;
}


.staran {
    height: 100px;
    width: 100px;
    background-image: url('icons/star-solid.svg');
  }

.pacifico {
    font-family: pacifico;
}

}