@media print {

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    img {
        max-width: 100% !important;
    }

    .container {
        position: relative;
        text-align: center;
    }
    
    .bottom-left {
        position: absolute;
        bottom: 15%;
        left: 10%;
        font-family: arial;
        color: black;
    }
    
    .top-left {
        position: absolute;
        top: 12%;
        left: 24%;
    }
    
    .top-right {
        position: absolute;
        top: 12%;
        right: 16%;
        font-family: arial;
        color: black;
    }
    
    .bottom-right {
        position: absolute;
        bottom: 12%;
        right: 24%;
    }
    
    .centered {
        position: absolute;
        top: 12%;
        left: 24%;
        transform: translate(-50%, -50%);
    }

    

}